/**
 * @Desc: 首页CSS
 * @Author: pengdaokuan
 * @CreateTime: 2019-11-23
 * @LastModify: 2019-11-23
 */
.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: center;
  background-color: #27292c;
}
.content {
  width: 100%;
  padding-top: calc(8vh + 60px);
}
.logo {
  width: 300px;
  margin: 0 auto;
}
.theme {
  margin: 1.2rem 0 2rem;
}
.menu {
  width: 300px;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
