.box {
  margin-top: 30px;
}
.box > div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 8px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  color: white;
}
