ul {
  list-style-type: none;
  margin: 0;
}
.container {
  padding-top: 2.8rem;
}
.container > p.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.container > .content {
  padding: 0 calc(1rem + 12px);
  padding-top: 2rem;
  font-size: 0.72rem;
}
.container > .content > li {
  padding-bottom: 0.5rem;
}
