/**
 * @Desc: 首页CSS
 * @Author: pengdaokuan
 * @CreateTime: 2019-11-23
 * @LastModify: 2019-11-23
 */
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
