/**
 * @Desc: 模块介绍
 * @Author: pengdaokuan
 * @CreateDate:  2019-11-28
 * @LastModify:  2019-11-28
 */
.introduce {
  text-align: left;
  background-color: #ffffff;
}
.title {
  font-size: 1.48rem;
  line-height: 3.2rem;
}
.summary {
  margin-top: 1.2rem;
  font-size: 1rem;
  line-height: 2rem;
}
.tips {
  margin-top: 10px;
  font-size: 10px;
  line-height: 14px;
}
