.es-button {
  display: inline-block;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

.es-button-blue {
  background-color: #1890ff;
  color: #ffffff;
}
.es-button-white {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #1890ff;
}
.es-button-white:hover,
.es-button-white:active {
  color: #ffffff;
  border: 1px solid #1890ff;
  background-color: #1890ff;
}
.es-button-white > .small {
  line-height: 30px;
}

.es-button-small {
  width: 64px;
}

.es-button-middle {
  width: 96px;
}

.es-button-big {
  width: 128px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

.middle {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}
.small {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}

.list {
  content: " ";
  height: 32px;
  line-height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 32px;
  overflow: hidden;
  display: inline-block;
}
.list > .item {
  width: 80px;
  height: 32px;
  text-align: center;
  margin-right: 0 !important;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.list > .item:hover {
  background-color: #1890ff;
}
.list > .item:active {
  background-color: #dce8f5;
}
.list .item:last-child {
  border: none;
}
