.container {
  margin: 36px 16px;
}
.content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 28px;
}
.btn {
  background: white;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
.precent-100 {
  width: 100%;
  text-align: center;
}
:global(.ant-modal-footer) {
  padding: 40px;
}
