/**
 * @Desc: Grid 布局盒子
 * @Author: pengdaokuan
 * @CreateDate:  2019-12-01
 * @LastModify:  2019-12-01
 */
.grid {
  position: relative;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.grid > .columns-1 {
  width: 100%;
}
.grid > .columns-2 {
  width: 50%;
}
.grid > .columns-3 {
  width: 33.33%;
}
.grid > .columns-4 {
  width: 25%;
}
.grid > .columns-5 {
  width: 20%;
}
.grid > .columns-6 {
  width: 16.66%;
}
